<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
        <add name="ExchangeMarketContext"  
            providerName="System.Data.SqlClient"  
            connectionString="server=localhost;database=exchangeMarket;user=newuser;password=user"/>
    </connectionStrings>

    <appSettings>
		<add key="connectionString" value="server=localhost;database=exchangeMarket;user=newuser;password=user"/>
	</appSettings>
</configuration>